@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './view.scss';
@import './sidebar.scss';
@import './btn.scss';
@import './position.scss';
@import './loading.scss';
@import './font.scss';
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 12px;
  overflow-x: hidden;
  font-family: LarkHackSafariFont,LarkEmojiFont,LarkChineseQuote,-apple-system,BlinkMacSystemFont,Helvetica Neue,Tahoma,PingFang SC,Microsoft Yahei,Arial,Hiragino Sans GB,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//main-container全局样式
.app-container {
  padding: 20px;
  height: inherit;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

td.v-top {
  vertical-align: top;
}

td.v-middle {
  vertical-align: middle;
}

td.v-bottom {
  vertical-align: bottom;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect pluginΩ
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.button-tools {
  text-align: right;
  border-bottom: 1px solid #DCDFE6;
  padding-bottom: 5px;
}

.border-bottom-1 {
  border-bottom: 1px solid #DCDFE6;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.color-success {
  color: #42b983;
}

.color-danger {
  color: #F56C6C;
}

.body-no-padding {
  .el-dialog__body {
    padding: 0px;
  }
  .el-card__body {
    padding: 0px;
  }
}

.header-no-padding {
  .el-card__header {
    padding: 0px;
  }
}

.view-form {
  .el-form-item {
    margin-bottom: 0px;
  }
  .el-form-item--mini.el-form-item {
    margin-bottom: 0px;
  }
}
.expand-box{
  .el-input__inner {
    float: left;
    width: 220px;
  }
  .el-form-item {
    margin-bottom: 0px;
  }
  .el-form-item--mini.el-form-item {
    margin-bottom: 0px;
    display: flex;
    padding-bottom: 5px;
  }
  .el-form-item--mini .el-form-item__content{
    flex: 1
  }
  .btns{
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #DDDFDF;
    .el-button--mini {
      padding: 5px 15px !important;
    }
    .el-button--primary {
      color: #2987F7;
      border-color: #2987F7;
      background-color: #FFFFFF;
      &:hover, &:focus {
        color: #FFFFFF;
        border-color: #2987F7;
        background-color: #2987F7;
      }
    }
  }
  .danxuan{
    text-align: left
  }
}
.body-no-margin {
  .el-card__body {
    padding: 0px;
  }
}

.el-card {
  .header {
    position: relative;
    .ext-buttons {
      position: absolute;
      right: 0px;
      top: -5px;
    }
  }
}

.hover-shadow {
  transition: box-shadow .2s ease;
  &:hover {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
  }
}

a.blue {
  color: #0a76a4;
  &:hover {
    text-decoration: underline;
  }
}

.w-100p {
  width: 100% !important;
}
.w-500px {
  width: 500px;
}

.margin-right-10 {
  margin-right: 10px;
}

.log-container {
  height: inherit;
  overflow: hidden;
  position: relative;
  padding: 0px;
  pre {
    background: #000000;
    color: #ffffff;
    height: 100%;
    margin: 0px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.42857143;
  }
}

.tree-dark {
  .el-tree-node.is-current>.el-tree-node__content {
    background: #000000;
    color: #ffffff;
  }
}

.tree-list {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .el-tree-node__content {
    height: 32px;
    line-height: 32px;
  }
}

.tree-list .el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
  transition: all 0.15s ease;
  color: #2F80EA;
  // background: #E2ECF8; // border-left: 2px #409eff solid;
}

.top-block {
  //高级搜索add
  position: relative;
  overflow: hidden;
  background: #ffffff;
  // padding: 10px 5px !important; // @extend .hover-shadow ;
  // @extend .border-bottom-1;
  // background: #F2F6FC;
  padding: 10px 0px;
  .el-input-group__append {
    padding-right: 10px;
    background-color: #deeaf6;
  }
  .expand-box {
    position: fixed;
    z-index: 2021;
    top: 149px;
    left: 215px;
    width: calc(100% - 231px);
    padding: 15px 0 10px;
    display: none; // background: rgba(255,255,255,0.9);
    border: 1px solid #D3D7E0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.08);
    text-align: center;
  }
  // .el-button--mini {
  //   padding: 5px 15px;
  // }
  .el-input.el-input--mini {
    .el-input__inner {
      height: 32px;
    }
  }
}

.height-inherit {
  height: inherit;
}

.secondary-nav-right-title {
  background: #EAEDF1;
  height: 70px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 9px;
  background-color: transparent;
  opacity: .8;
}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #fff;
}

/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #b7b9be;
  opacity: .8;
}

.el-textarea .el-textarea__inner {
  font-size: 14px;
}

.el-input .el-input__inner {
  font-size: 14px;
  color: #333333;
  border: 1px solid #DDDFDF;
}

// .el-textarea.el-input--mini.is-disabled .el-textarea__inner,
// .el-textarea.el-input--small.is-disabled .el-textarea__inner {
//   background-color: transparent;
//   // border: none;
//   // color: #000000;
//   // cursor: default;
//   padding: 0px 2px;
// }

// .el-input.el-input--mini.is-disabled .el-input__inner,
// .el-input.el-input--small.is-disabled .el-input__inner {
//   background-color: transparent;
//   border: none;
//   color: #000000;
//   cursor: default;
//   padding: 0px 2px;
// }

.el-input.el-input--mini.is-disabled .el-input__suffix,
.el-input.el-input--small.is-disabled .el-input__suffix {
  // display: none;
}

// 禁用输入框
.el-input.is-disabled .el-input__inner,
.el-textarea.is-disabled .el-textarea__inner,
button.el-button.el-button--default.el-button--mini.is-disabled {
  background: #f5f5f5 !important;
}

.pointer {
  cursor: pointer;
}

.title-big {
  .el-input .el-input__inner {
    font-size: 22px;
  }
}

.auto-hide-border {
  .el-input .el-input__inner {
    border: 1px solid transparent;
    color: #000000;
    padding: 0px;
    &:hover {
      border: 1px solid #bcc0c6;
    }
  }
}

.el-upload-dragger {
  height: 120px;
  .el-icon-upload {
    margin-top: 10px;
  }
}

.font-bold {
  font-weight: bold;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.slider {
  z-index: 5000 !important;
}

.table-form {
  .el-form-item {
    margin-bottom: 1px !important;
  }
  .el-form-item--mini .el-form-item__label {
    background: #e8e8e8;
    font-size: 13px;
    line-height: 32px;
  }
  .el-form-item__content {
    background: #F2F6FC;
    padding-left: 10px;
  }
}

// 分类表单，宽度500
// 弹框和主页面的表单
.classify-form {
  .el-form-item--mini.el-form-item {
    margin-bottom: 14px;
  }
  .el-row {
    margin-bottom: 40px;
    .el-col:last-child {
      .el-form-item--mini.el-form-item{
        margin-bottom: 0;
      }
    }
    .el-col {
      .el-form-item--mini.el-form-item {
        .el-row {
          margin-bottom: 0;
        }
      }
    }
  }
  .el-input--mini {
    width: 500px;
  }
  .el-input.el-input--mini {
    .el-input__inner {
      height: 32px;
    }
  }
}


.standard-form {
  .el-select {
    min-width: 200px;
  }
}

.dropdown-menu-more .el-icon-arrow-down:before {
  content: "\e794";
}

.table {
  display: table;
  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
  }
}

.shadow-div {
  position: absolute;
  z-index: 1988;
  bottom: 0;
  // width: 100%;
  width: calc(100% - 29px);
  height: 100%;
  left: 14px;
  background: #000000;
  border: 1px solid #DADEE4;
  opacity: 0.25;
  display: none; // background: rgba(255,255,255,0.9);
}

.page-box {
  width: 100%;
  position: absolute !important;
  right: 0;
  bottom: 0;
  padding: 0 10px 0 0;
  div {
    text-align: right;
  }
}

#appMain {
  .Breadcrumber {
    position: relative;
    .svg-breadcrumber {
      display: none;
    }
  }
  .header {
    padding: 8px 0 8px 22px;
    height: 40px;
    margin-bottom: 0;
    background: #fff !important;
    border-bottom: 1px solid #e8e8e8;
    i.el-icon-menu {
      color: #fff !important;
      // padding-top: 3px;
    }
    .el-breadcrumb {
      padding-top: 3px;
    }
    .el-breadcrumb__item {
      a {
        color: #8c8888;
        font-weight: normal !important;
        font-size: 15px !important;
      }
    }
    .el-breadcrumb__item:last-child {
      a {
        color: #000;
      }
    }
    .el-breadcrumb__separator {
      font-size: 16px;
    }
  }
}

.divide-bar {
  border: none;
  height: 20px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  font-size:16px;
  span {
    padding-left: 6px;
    border-left: 3px solid var(--tagBg);
  }
}

.near-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.div-near-bottom{
  position: fixed; // 使按钮固定于可视窗口的底部
  bottom: 25px;
  right: 35px;
  height: 20px;  // 设置固定高
  .el-button--primary {
    color: #FFFFFF;
    background: var(--tagBg);
    border: 1px solid var(--tagBg);
    border-radius: 5px;
  }
  .el-button--mini {
    padding: 9px 23px;
  }
}
.div-near-top-right{
  position: fixed; // 使按钮固定于可视窗口的底部
  top: 0;
  right: 0;
  display:flex;
  align-items: center;   //交叉轴
  justify-content:center;  
}
.div-near-top-left{
  position: fixed; // 使按钮固定于可视窗口的底部
  top: 0;
  left: 0;
  display:flex;
  align-items: center;   //交叉轴
  justify-content:center;  
}


.secondary-menu {
  .handle {
    min-width: 1px !important;
    max-width: 1px !important;
  }
}

.vue-treeselect__control {
  height: 32px !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.vue-treeselect__placeholder, .vue-treeselect__single-value {
  line-height: 32px !important;
}
.custom-error-tip-box {
  .el-notification__group,.el-notification__content p {
    word-break: break-all;
  }
}
.upload-button {
  position:absolute;
  top:0;
  right:20px;
}
.dict-cell {
  color: #fff;
  padding: 0 3px;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  height: 22px;
  line-height: 22px;
}