#app {
  // 主体区域
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $left-width;
    background-color: #f5f5f5;
    border-top: none;
  }
  // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    height: 100%;
    font-size: 0px;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      overflow-x: hidden!important;
      .el-scrollbar__view {
        height: calc(100vh - 50px);
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background: transparent;
    }
    .el-submenu__icon-arrow {
      right: 12px;
      color: var(--menuText);
    }
  }
  .left-component__scroll .el-scrollbar__wrap {
    overflow-x: hidden;
    height: calc(100vh - 51px);
  }
  .sidebar-container{
    >ul > .menu-wrapper {
      padding: 0 17px;
      li > ul > .menu-wrapper {
        padding: 0px !important;
      }
    }
    
    .el-submenu .el-menu-item span {
      padding-left: 5px;
    }

    .el-menu-item {
      padding-left: 5px !important;
      margin-top: 7px;
      height: var(--menuSize) !important;
      line-height: var(--menuSize) !important;
      position: relative;
      .iconfont {
        font-size: 18px;
      }
     
      &:hover{
        background-color: var(--subMenuHover)!important;
        background: var(--subMenuHover);
      }
    }
    // 没有二级菜单时候的样式
    > .el-menu > .menu-wrapper {
       .el-menu-item.is-active{
        color: var(--menuItemActiveText) !important;
        background-color: var(--menuItemActiveBg) !important;
        background: var(--menuItemActiveBg);
        border-radius: 6px;
        position: relative;
        
        &::after {
          position: absolute;
          width: 4px;
          content: " ";
          height: 100%;
          right: -17px;
          left:auto;
          z-index: 2;
          background: var(--menuItemActiveBr) !important;
          opacity: 1;
          border-radius: 4px 0 0 4px;
        }
        &:hover{
          background: var(--subMenuHover);
        }
      }
    }
    // 有二级菜单时候的样式
    .el-submenu  {
      margin-top: 7px;
      .el-submenu__title {
        padding-left:5px!important;
      }
      &.is-active {
        .el-submenu__title {
          // color: var(--menuItemActiveText) !important;
          // background-color: var(--menuItemActiveBg) !important;
          // background: var(--menuItemActiveBg);
          border-radius: 6px;
          position: relative;
          i {
            color: var(--menuItemActiveText) !important;
          }
          // &::after {
          //   position: absolute;
          //   width: 4px;
          //   content: " ";
          //   height: 100%;
          //   right: -17px;
          //   z-index: 2;
          //   background: var(--menuItemActiveBr) !important;
          //   opacity: 1;
          //   border-radius: 4px 0 0 4px;
          // }
        }
      }

      .el-menu-item {
        position: relative;
        span {
          padding-left: 0;
        }
        &::before {
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          content: " ";
          left: 23px;
          top: 50%;
          z-index: 2;
          transform: translateY(-50%);
          background: var(--menuText) !important;
          opacity: 0.4;
        }
        &.is-active::after {
          position: absolute;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          content: " ";
          left: 20px;
          top: 50%;
          z-index: 1;
          transform: translateY(-50%);
          background: var(--menuItemActiveBg) !important;
        }
        &.is-active::before {
          opacity: 1;
          background: var(--menuItemActiveBr) !important;
        }
      }
    }
    .circle{
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 10px;
      border: 1px solid #B8C4D2;
      position: relative;
      top: -1px;
    }
    .el-menu-item.is-active .circle{
      border: 1px solid var(--menuItemActiveText);
      background: var(--menuItemActiveText);
    }
  }
  .hideSidebar {
    >ul > .menu-wrapper {
      padding: 0 !important;
    }

    .sidebar-container {
      width: 80px !important;
    }
    .main-container {
      margin-left: 80px;
    }
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
    }

    .el-submenu {
      margin-top: 7px;
      overflow: hidden;
      &>.el-submenu__title {
        text-align: center;
        border-radius: 0 !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      & > li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 7px;
        width: 100%;
      }
      .el-submenu {
        
        &>.el-submenu__title {
          // height:$hide-sidebar-menu-item-height;
          padding:  0px !important;
          height: var(--menuSize);
          line-height: var(--menuSize);
    
          text-align: center;
          overflow: hidden;
          &>span {
            // height: 0;
            width: 100%;
            display: block;
            line-height: 15px;
            // color: var(--menuText);
            margin: 10px 0 0 0;
            font-size: 12px;
            white-space: pre-wrap;
          }
          &>i:not(.el-submenu__icon-arrow){
            font-size: 18px;
            color: var(--menuText);
            display: block;
          }
        }
        .el-menu-item {
          height:$hide-sidebar-menu-item-height;
          line-height:$hide-sidebar-menu-item-height;
        }
      }
      .el-menu-item {
        .el-tooltip {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      .el-menu-item:hover {
        border-radius: 0 !important;
      }
      .el-menu-item.is-active{
        border-radius: 0 !important;
        color: var(--menuItemActiveText) !important;
        background-color: var(--menuItemActiveBg)  !important;
      }
    }
  }

  .sidebar-container .el-menu-item, .sidebar-container .el-submenu__title {
    transition:  height .3s ease;
    height: var(--menuSize);
    line-height: var(--menuSize);
    font-size: 14px;
    // background-color: transparent;
    color: $base-color-black;
    &:hover {
      border-radius: 6px;
      background: var(--subMenuHover) !important;
    }
  }

 
  .sidebar-container .el-submenu__title span {
    margin-left: 10px;
    // color:var(--menuText);
  }
  .sidebar-container .el-submenu__title i {
    color:var(--menuText);
  }
  
  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 120px;
    
    transition: height .3s ease;
    height:var(--menuSize);
    line-height:var(--menuSize);
    &:hover {
      background: var(--subMenuHover) !important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 120px;
  }


  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .28s;
      width: $left-width !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-$left-width, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
.el-menu--vertical .el-menu-item{
  transition: all 0s!important;
  height: var(--menuSize)!important;
  line-height: var(--menuSize)!important;
  &.is-active{
    color: var(--menuItemActiveText) !important;
    background-color: var(--menuItemActiveBg) !important;
    background: var(--menuItemActiveBg);
  }
  &:hover{
    background-color: var(--subMenuHover)!important;
    background: var(--subMenuHover);
  }
}