<template>
    <div>
        {{applicationName}}/src/views/index.vue
    </div>
</template>
<script>
export default {
    name: 'name', // 和菜单代码一致即可开启页面缓存
    data(){
        return {

        }
    },
    created(){

    },
    methods:{
        
    }
}
</script>